.loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.loading {
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: loading1 2s linear infinite;
    -webkit-animation: loading1 2s linear infinite;
}